* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  margin: 50px auto;
  width: 960px;
  display: flex;
}

.image-box {
  margin-right: 30px;
  width: 300px;
  padding: 10px;
  position: relative;
  background-color: #eeeeee;
}

.image-box:last-child {
  margin-right: 0;
}

.step {
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.image {
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.image1 {
  background-image: url(img/flow01.png);
}

.image2 {
  background-image: url(img/flow02.png);
}

.image3 {
  background-image: url(img/flow03.png);
}

.text {
  margin-top: 15px;
}

h3 {
  margin-bottom: 5px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}
